*.class
*.iml
*.ipr
*.iws
*.pyc
*.hprof
*.swp
*~
*#
.#*
.DS_Store
.build.properties
.coverage*
.idea
.pants.d
.pants.run
.pants.stats
.pids
.project
.settings
.classpath
.factorypath
.python
.pydevproject
.twkeys
/bin/
dot.twkeys
build/
/build-support/*.pex
/build-support/*.venv
/build-support/virtualenv-*
/build-support/virtualenv.dist/
/build-support/phab/
codegen/classes/
dist/
htmlcov/
lib/
out/
arc.sh
pants.pex
target
*.class
*.iml
*.ipr
*.iws
*.pyc
*.hprof
*.swp
target
GPATH
GRTAGS
GSYMS
GTAGS
