*.pyc
*.swp
.DS_Store
/.cache/
/.pants.d/
/.pants.workdir.file_lock*
/.pids/
/build-support/*.pex
/build-support/*.venv
/build-support/phab/
/build-support/virtualenv-*
/build-support/virtualenv.dist/
/dist/
