[project]
	description = Twitter common libraries for python and the JVM
[access "refs/*"]
	owner = group user/John Sirois (jsirois)
[access "refs/for/refs/*"]
	read = group user/John Sirois (jsirois)
	push = group user/John Sirois (jsirois)
	label-Code-Review = -2..+2 group user/John Sirois (jsirois)
	label-Verified = -1..+1 group user/John Sirois (jsirois)
	rebase = group user/John Sirois (jsirois)
	removeReviewer = group user/John Sirois (jsirois)
	submit = group user/John Sirois (jsirois)
[access "refs/heads/*"]
	read = group user/John Sirois (jsirois)
	create = group user/John Sirois (jsirois)
	push = +force group user/John Sirois (jsirois)
	pushMerge = group user/John Sirois (jsirois)
[access "refs/tags/*"]
	push = +force group user/John Sirois (jsirois)
	pushTag = group user/John Sirois (jsirois)
	pushSignedTag = group user/John Sirois (jsirois)
